<li>
  <!-- <%= gravatar_for user, size: 50 %> -->
  <% if user.profile_picture? %>
    <%= image_tag(user.profile_picture, size: 50, class: 'gravatar') %>
  <% else %>
    <%= image_tag("1.jpg", size: 50, class: 'gravatar') %>
  <% end %>
  <%= link_to user.name, user %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: { confirm: "Are you sure?" } %>
  <% end %>
</li>
