<% if current_user.profile_picture? %>
  <%= image_tag(current_user.profile_picture, size: 80, class: 'profile_picture') %>
<% else %>
  <%= image_tag(current_user.default_avatar, size: 80, class: 'profile_picture') %>
<% end %>
<div class="user_box">
  <h1><%= current_user.name %></h1>
  <span><%= link_to "view my profile", current_user %></span>
  <span><%= pluralize(current_user.microposts.count, "micropost") %></span>
</div>
